
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */
/* 
    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    
    --shadow: 10px 10px 10px 10px rgba(0,0,0,.4);
    
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    
}

main {
    background-color: rgba(25, 100, 60, .2);
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 50px;
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: flex-end;
  
    box-shadow: var(--shadow);
}

content {
    width: 100%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 100px;
    box-shadow: var(--shadow);
}

@keyframes pulse {
20% {
    transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
}

40% {
    transform: rotate3d(10, 10, -10, 50deg) scale(1);
}

60% {
    transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
    }

80% {
    transform: rotate3d(10, 10, 10, 50deg) scale(1);
}

}

table{
      width: 80%;    
}

.odd{
    background-color: teal;
}

.even {
    background-color: tomato;
}

.welcome-msg{
    display: block;
    font-size: 1.5rem; 
    color: darkgoldenrod;
}
.top-main{
    text-align: center;
}

.top-main p{
    display: inline-block;
    text-align: center;
    background-color: rgba(25, 100, 60, .2);
    width: 400px;
    font-size: 1.2rem;
    color: #FFF;
}
.top-main u {
    
    color: teal;
}
.total{
    background-color: silver;
}

img{
  width: 350px;
  height: 225px;
  border-radius: 40px;
}

.side-by-side{
    width: 350px;
    height: 500px;
    display: inline-block;
    text-align: center;
    margin: 5px auto;
    border-radius: 40px;
}


.side-by-side a:visited{
    text-decoration: none; 
   
}

.side-by-side:hover{
    background-color: rgba(25, 100, 60, .2);
}

.side-by-side h1{
    width: 200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;
}

.h-container{
    display: inline-block;
    height: 200px;
    text-align: center;
}

.economy, .economy a{
    color: rgb(53,146,215);
}

.sport, .sport a{
    color: tomato;
   
}

.crossover, .crossover a{
    color: teal;
}

.container > .economy {
    color: silver;
}